body {
    color: #303030;
    background-color: #eeeeee;
    text-align: center;
    font-family:Century Gothic,Arial,sans-serif;
}

a {
    text-decoration: none
}

p {
    font-size: 1.25rem;
}

.siteSection {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -50px;
}

.sectionHeader {
    padding-bottom: 8px;
    border-bottom: 1px solid;
    font-weight: bold;
}